body {
    font-family: Futura;
}

p {
    font-size: 8px;
}

h1 {
    font-size: 14px;
}

h2 {
    font-size: 12px;
}

h3 {
    font-size: 10px;
}

li {
    font-size: 8px;
}

table, th, td {
    border: 1px solid black;

}

table {
    border-collapse: collapse;
    width: 100%;
}

a {
    text-decoration: none;

}

a:hover {
    color: red;
}

ul li::marker {
    color: red;
    font-size: 1.5em;
}

